version: '3.6'

services:
  db:
    image: postgres:10.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
  web:
    build: .
    command: bash -c "sh run-django.sh"
    volumes:
      - .:/code
    ports:
      - 5000:8000
    depends_on:
      - db

volumes:
  postgres_data: